.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: url(./images/OFEA530.jpg) #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "Cutive Mono", monospace;
}

.App-title {
  text-align: center;
  font-size: 40px;
  font-family: "VT323", monospace;
  color: #fff;
  padding-top: 20px;
}
