.Example {
  font-size: 16px;
  color: #333333;
  line-height: 1;
  padding-bottom: 10px;
}

.Example-result {
  font-style: italic;
  padding-top: 5px;
}

.Example-result-title,
.Example-result-description,
.Example-result-note {
  font-size: 16px;
  color: #333333;
  line-height: 1;
  font-style: italic;
  padding-top: 5px;
}

.Example-result-description {
  padding-bottom: 10px;
}
