.Meaning {
  padding-top: 20px;
}

.Part-of-speech {
  font-weight: 600;
  font-size: 22px;
  color: #a80038;
}
.Definition {
  font-size: 18px;
  color: #000;
}
.Definition {
  line-height: 1;
}

.Meaning-result-container {
  padding-bottom: 12px;
}
