.Images-button {
  width: 150px;
  background: #000;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border: 1px solid #f00;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 0 6px #f00;
}

.Photo-container {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 10px;
}

.Photo {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px dashed #bebebe;
  border-width: thin;
}

@media all and (min-width: 600px) {
  .Photo-container {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }

  .Photo {
    width: 200px;
    height: auto;
  }
}

@media all and (min-width: 1200px) {
  .Photo-container {
    max-width: 800px;
  }

  .Photo {
    width: 350px;
  }
}
