.Results {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
}

.Word-of-the-day {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

.Color-1 {
  color: #f00;
}

.Color-2 {
  color: #0f0;
}
.Color-3 {
  color: #00f;
}

.Color-4 {
  color: rgb(221, 36, 181);
}

.Word {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  word-break: break-all;
}

.Quotation-mark {
  width: 15px;
}

.Left {
  margin-right: 5px;
}

.Right {
  margin-left: 5px;
}

.Phonetic-icon {
  width: 25px;
  display: block;
  margin: 0 auto 10px;
}

@media all and (min-width: 600px) {
  .Results {
    max-width: 500px;

    padding: 10px;
  }
}

@media all and (min-width: 1200px) {
  .Results {
    max-width: 800px;

    padding: 20px;
  }
}
